<%- include ('partials/header') %>

<section id="create">
  <%- include('partials/sidebar'); %>
  <div class="create">
    <div class="new-entry">
      <div class="new-entry__header">
        <h2>Editar Artículo</h2>
      </div>
      <div class="new-entry__form">
        <form action="/article/update/<%= article._id %>?_method=PUT" method="post">
          <%- include('_form_fields') %>
          <div class="new-entry__form--buttons">
            <button type="submit" class="general-button">Actualizar</button>
            <a href="/" class="general-button btn-cancel">Cancelar</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<%- include ('partials/footer') %>