<%- include ('../partials/header') %>

<section id="home">
  <%- include('../partials/sidebar'); %>

  <div class="home">

    <div class="home__title">
      <h1>Mis artículos</h1>
    </div>

    <div class="home__no-articles">
      <% if (articles.length==0 ) { %>
      <h2>No has creado artículos</h2>
      <i class="fas fa-edit"></i>
      <p>Crea uno <a href="/article/add">aquí</a>.</p>
      <% } %>
    </div>

    <% articles.forEach (article=> { %>
    <div class="article-card">
      <div class="article-card__body">
        <div class="article-card__body--left">
        </div>
        <div class="article-card__body--right">
          <h4> <a href="/article/<%= article.slug %>">
              <%= article.title %>
            </a> </h4>
          <p class="description">
            <%= article.description %>
          </p>
          <div class="article-card__body-bottom">
            <span class="btm-date">
              <%= article.created.toLocaleDateString() %>
            </span>
          </div>
        </div>
        <div class="article-card__body--button">
          <a href="/article/<%= article.slug %>">
            más...
          </a>
        </div>
      </div>
    </div>
    <% }); %>
  </div>

  <div class="stats">

    <h3 class="stats__title">Estadísticas</h3>

    <table>
      <tr>
        <td>Tus publicaciones</td>
        <td>
          <%= totalArticles %>
        </td>
      </tr>
      <tr>
        <td>Tus comentarios</td>
        <td>
          <%= totalComments %>
        </td>
      </tr>
    </table>
  </div>
</section>

<%- include ('../partials/footer') %>